--  Install Required Libraries:--
1.nltk
2.numpy
--------......-------
--  Install locally:--
pip install -r requirements.txt
--------......-------
--  Run the Chatbot:--
python chatbot.py


Sample Output:
You: Hi
Bot: Hello!
You: Thanks
Bot: You're welcome!
